#div-votar a img, #ver-resultados a img{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#div-votar:hover a img{
  width: 55%;
}
#ver-resultados:hover a img{
  width: 55%;
}
#candidatos-sec,#resultados-sec,#logo-fe-alegria{
  display: none;
}
.candidato-op{
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
 -moz-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
}
.candidato-op:hover{
  animation-name: RotationSelect;
  animation-duration: .5s;
  /* animation-iteration-count: infinite; */
}
#logo-fe-alegria img{
  width: 30%;
  animation-name: corazon;
  animation-duration: 4.10s;
  animation-iteration-count: infinite;
}
.nombreyapellidos{
  font-size: 1.2em;
}
@keyframes RotationSelect {
    0%   {
      -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
    }
    25%  {
      -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
     -ms-transform: rotate(-5deg);
     transform: rotate(-5deg);
    }
    50%  {
      -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
    }
    75%  {
      -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
     -ms-transform: rotate(5deg);
     transform: rotate(5deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
    }
}
@keyframes corazon {
    0%   {
      width: 30%;
    }
    25%  {
      width: 35%;
    }
    50%  {
      width: 30%;
    }
    75%  {
      width: 35%;
    }
    100% {
      width: 30%;
    }
}
